.header-top {
    width: 100%;
    position: fixed;
    max-width: 980px;
    justify-content: center;
    top: 0;
    z-index: 100;
  }
  
  .header-nav {
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
  }
  
  .header-datos {
    display: flex;
    background-color: var(--color-primario);
    padding: 10px;
    border-bottom: 4px solid;
  }
  
  .responsive-menu, .cerrar-menu {
    display: none;
    }
  
  .nav-menu {
    display: flex;
    justify-content:center;
    box-shadow: 0 4px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    padding: 0 20px;
  }
  
  .nav-menu a {
      color: white;
      font-size: 20px;
      font-weight: 500;
      line-height: 50px;
      position: relative;
  }
  
  .nav-menu a::after {
    content: "";
    background-color: yellow;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }
    
   .nav-menu a.selected::after,
   .nav-menu a:hover::after {
    opacity: 0.7;
  }
    
  .nav-menu a:hover {
    color: rgba(221, 208, 208, 0.911);
  }
    
  .header-logo img {
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
    .nav-menu {
      flex-direction: column;
      position:fixed;
      left: 0;
      top: 0;
      width: 100%;
      align-items: center;
      background-color: var(--color-primario);
      height: 100%;
      overflow-y: auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }
    .nav-menu li {
      padding: 0;
    }
    .nav-menu a {
      color: var(--text-color);
      line-height: 70px;
      font-size: 25px;
    }
    .nav-menu a::after {
      content: none;
    }  
    .nav-menu a:hover,
    .nav-menu a.selected {
      color: yellow;
    }
    .responsive-menu,
    .cerrar-menu {
      display: block;
      border: none;
      background: none;
      cursor: pointer;
    }
    .responsive-menu {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 300px;
    }
    .cerrar-menu {
      align-self: flex-end;
      padding: 20px 15px;
    }
    .menu_opened {
      opacity: 1;
      pointer-events: all;
    }
    .responsive-menu:focus:not(:focus-visible),
    .cerrar-menu:focus:not(:focus-visible) {
      outline: none;
    }
  }